<!-- <div class="container">
  <h1 id="login-header">Login to Your Account</h1>

  <form autocomplete="off">
    <label>UserId</label>
    <input
      id="login-input"
      class="form-control"
      autocomplete="off"
      type="text "
      name="name"
      [(ngModel)]="userInfo.id"
    /><br />
    <label>Password</label>
    <input
      id="password-input"
      class="form-control"
      type="password"
      name="password"
      [(ngModel)]="userInfo.password"
    /><br />
    <button class="btn btn-primary" (click)="checkUser()">Login</button>
  </form>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-8 login-box">
      <div class="col-lg-12 login-key">
        <i class="fa fa-key" aria-hidden="true"></i>
      </div>
      <div class="col-lg-12 login-title">
        LOGIN
      </div>

      <div class="col-lg-12 login-form">
        <div class="col-lg-12 login-form">
          <form>
            <div class="form-group">
              <label class="form-control-label">USERNAME</label>
              <input
                type="text"
                class="form-control"
                name="name"
                [(ngModel)]="userInfo.id"
                style="padding : 1px"
              />
            </div>
            <div class="form-group">
              <label class="form-control-label">PASSWORD</label>
              <input
                style="padding : 1px"
                type="password"
                name="password"
                [(ngModel)]="userInfo.password"
                class="form-control"
                i
              />
            </div>

            <div class="col-lg-12 loginbttm">
              <div class="col-lg-6 login-btm login-text">
                <!-- Error Message -->
              </div>
              <div class="col-lg-6 login-btm login-button">
                <button
                  type="submit"
                  class="btn btn-outline-primary"
                  (click)="checkUser()"
                >
                  LOGIN
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </div>
</div>
