<html>
  <body>
    <ul>
      Doctor
      <li *ngFor="let doctor of doctors | async">
        <span
          >ID: {{ doctor.id }} - {{ doctor.lastName }}, {{ doctor.firstName }}
          {{ doctor.leaveStartDate }} {{ doctor.leaveEndDate }}</span
        >
      </li>
    </ul>
    <form>
      Doctor ID<input [(ngModel)]="doctor.id" name="id" /><br />
      Leave Start Date<input
        type="date"
        [(ngModel)]="doctor.leaveStartDate"
        name="startdate"
        required
      /><br />
      Leave End Date<input
        type="date"
        [(ngModel)]="doctor.leaveEndDate"
        name="enddate"
        required
      /><br />
      <button (click)="updateDoctor()">Update Doctor Leave</button>
    </form>
  </body>
</html>
