.login-key {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
  background: -webkit-linear-gradient(#27ef9f, #0db8de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-profile-container {
  margin-top: 50px;
  display: flex;
  background: #131923;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-family: "Roboto";
  color: white;
  -webkit-box-shadow: 7px 9px 19px -7px #000000 !important;
  box-shadow: 7px 9px 19px -7px #000000 !important;
}
