<table style="margin-top:20px" id="doctor-table" class="table table-dark">
  <thead>
    <tr>
      <th>Id</th>
      <th>Doctor</th>
      <th>Specialization</th>
      <th>Years of Experience</th>
      <th>Leave Start</th>
      <th>Leave End</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of doctors | async">
      <td>{{ doctor.id }}</td>
      <td>
        {{ doctor.firstName | titlecase }}
        {{ doctor.lastName | titlecase }}
      </td>
      <td>{{ doctor.specialization }}</td>
      <td>{{ doctor.yearsOfExperience }}</td>
      <td>{{ doctor.leaveStartDate }}</td>
      <td>{{ doctor.leaveEndDate }}</td>
    </tr>
  </tbody>
</table>
